<h1><%= title %></h1>
<form action="<%= action %>" method="post">
  <input name ="authenticity_token"
    type="hidden"
    value="<%=  form_authenticity_token %>">

  <label for="user_email">User Email</label>
  <input type="text"
    name="user[email]"
    value="<%= user.email %>"
    id="user_email"><br>

  <label for="password">Password</label>
  <input type="password"
    name="user[password]"
    value="<%= user.password %>"
    id="password"><br>

  <input type="submit" value="<%= title %>">
</form>
