<% submit_text = (band.persisted? ? 'Update' : 'Create') + ' band!' %>
<% action = (band.persisted? ? band_url(band) : bands_url) %>
<% method = (band.persisted? ? :patch : :post) %>
<h1><%= submit_text %> </h1>
<form action="<%= action %>" method="post">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= auth_input %>

  <label for="band_name">Name</label>
  <input type="text"
   name="band[name]"
   id='band_name'
   value="<%= @band.name %>"><br>

   <input type="submit" value="<%= submit_text %>">
</form>
