<h1><%= @band.name %></h1>
<p>Some would argue this is the best band ever</p>
<h2>Discography</h2>
<ol>
  <% @band.albums.each do |album| %>
  <li>
    <%= link_to "#{album.name}", album_url(album) %>
  </li>
  <% end %>
</ol>
<div class="nav_bar">
  <%= link_to "home", bands_url %>
  <%= link_to "new album", new_band_album_url(@band) , method: :get %>
  <%= link_to "edit", edit_band_url, method: :get %>
  <%= link_to "delete", band_url, method: :delete %>
</div>
